/* General Utility */
.col-lg-5, .offset-lg-1, .specs {
    align-content: center;
  }
  
  /* ---------------------------------
     Page 1 – Source Serif 4
  ---------------------------------- */
  h1.source {
    font-family: "Source Serif 4", serif;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: normal;
  }
  
  h2.source {
    font-family: "Source Serif 4", serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
  }
  
  h3.source {
    font-family: "Source Serif 4", serif;
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
  }
  
  h4.source {
    font-family: "Source Serif 4", serif;
    font-size: 1.9rem;
    font-weight: 450;
    font-style: normal;
  }
  
  p.source {
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
  }
  
  em.source {
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-weight: 600;
  }
  
  a.source {
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-weight: 400;
    color: #2C8FA8;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
  }
  
  a.source:hover, span.source {
    color: #3b7c4e;
    text-decoration: none;
    cursor: progress;
  }
  
  
  /* ---------------------------------
     Page 2 – Spectral SC & Roboto Mono
  ---------------------------------- */
  h1.spectral {
    font-family: "Spectral SC", serif;
    font-size: 5.6rem;
    font-weight: 700;
    font-style: normal;
  }
  
  h2.spectral {
    font-family: "Spectral SC", serif;
    font-size: 4.2rem;
    font-weight: 600;
    font-style: normal;
  }
  
  h3.spectral {
    font-family: "Spectral SC", serif;
    font-size: 3.1rem;
    font-weight: 500;
    font-style: normal;
  }
  
  h4.spectral {
    font-family: "Spectral SC", serif;
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
  }
  
  p.roboto {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
  }
  
  em.roboto {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: 400;
  }
  
  a.roboto {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: 400;
    color: #0d7100;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
  }
  
  a.roboto:hover, span.roboto {
    color: #9d00c4;
    text-decoration: none;
    cursor: progress;
  }
  
  
  /* ---------------------------------
     Page 3 – Space Grotesk & Roboto Mono
  ---------------------------------- */
  h1.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    font-style: normal;
  }
  
  h2.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    font-style: normal;
  }
  
  h3.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 3.1rem;
    font-weight: 500;
    font-style: normal;
  }
  
  h4.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
  }
  
  p.space, p.roboto {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
  }
  
  em.space, em.roboto {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: 400;
  }
  
  a.space, a.roboto {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: 400;
    color: #c11300;
    text-decoration: none;
    text-decoration-thickness: 0.1rem;
  }
  
  a.space:hover, a.roboto:hover, span.space, span.roboto {
    color: #8c00ff;
    text-decoration: underline;
    cursor: pointer;
  }
  